<!--<div class="flex-container" fxLayout="row">
  <div class="modelling-area" style="width: 78.50vw;display: flex; flex-direction: row;">
-->
    <!--<div style="flex-grow: 1; width: 78.50vw; height: 100vh; border: 0.25px solid black; box-sizing: border-box;">
      <ngx-reactflow
        [nodes]="nodes"
        [edges]="edges"
        (nodesChange)="onNodesChange($event)"
        (edgesChange)="onEdgesChange($event)"
        (connect)="onConnect($event)"
        (nodeContextMenu)="onNodeContextMenu($event)"
        [fitView]="true"
        style="width: 100%; height: 100%;">
        <ng-template #nodeTemplate let-node>
          <div (contextmenu)="onNodeContextMenu({ event: $event, node })">
            {{ node.data.label }}
          </div>
        </ng-template>
      </ngx-reactflow>
    </div>
    <div *ngIf="contextMenuVisible" [ngStyle]="{'top.px': contextMenuPosition.y, 'left.px': contextMenuPosition.x}" class="context-menu">
      <button (click)="onDeleteNode()">Delete Node</button>
      <button (click)="onCancelContextMenu()">Cancel</button>
    </div>
  </div>
</div>-->
<!--<div class="flex-container" fxLayout="row">
  <div class="modelling-area" style="width: 78.50vw; display: flex; flex-direction: row;">
    <div style="flex-grow: 1; width: 78.50vw; height: 100vh; border: 0.25px solid black; box-sizing: border-box;">
      <ngx-reactflow
        [nodes]="nodes"
        [edges]="edges"
        (nodesChange)="onNodesChange($event)"
        (edgesChange)="onEdgesChange($event)"
        (connect)="onConnect($event)"
        (nodeContextMenu)="onNodeContextMenu($event)"
        (nodeDragStop)="onNodeDragStop($event)"
        [fitView]="true"
        style="width: 100%; height: 100%;">
        <ng-template #nodeTemplate let-node>
          <div class="node"
               [style.left.px]="node.position.x"
               [style.top.px]="node.position.y"
               (contextmenu)="onNodeContextMenu({ event: $event, node })"
               (mousedown)="onNodeMouseDown($event, node)">
            {{ node.data.label }}
          </div>
        </ng-template>
      </ngx-reactflow>
    </div>
    <div *ngIf="contextMenuVisible" [ngStyle]="{'top.px': contextMenuPosition.y, 'left.px': contextMenuPosition.x}" class="context-menu">
      <button (click)="onDeleteNode()">Delete Node</button>
      <button (click)="onCancelContextMenu()">Cancel</button>
    </div>
  </div>
</div>-->
<!--<div class="flex-container" fxLayout="row">
  <div class="modelling-area" style="width: 78.50vw; display: flex; flex-direction: row;">
    <div style="flex-grow: 1; width: 78.50vw; height: 100vh; border: 0.25px solid black; box-sizing: border-box;">
      <ngx-reactflow
        [nodes]="nodes"
        [edges]="edges"
        (nodesChange)="onNodesChange($event)"
        (edgesChange)="onEdgesChange($event)"
        (connect)="onConnect($event)"
        (nodeContextMenu)="onNodeContextMenu($event)"
        (nodeDragStop)="onNodeDragStop($event)"
        [fitView]="true"
        style="width: 100%; height: 100%;">
        <ng-template #nodeTemplate let-node>
          <div class="node" [style.left.px]="node.position.x" [style.top.px]="node.position.y"
               (contextmenu)="onNodeContextMenu({ event: $event, node })"
               (mousedown)="onNodeMouseDown($event, node)">
            {{ node.data.label }}
          </div>
        </ng-template>
      </ngx-reactflow>
    </div>
    <div *ngIf="contextMenuVisible" [ngStyle]="{'top.px': contextMenuPosition.y, 'left.px': contextMenuPosition.x}" class="context-menu">
      <button (click)="onDeleteNode()">Delete Node</button>
      <button (click)="onCancelContextMenu()">Cancel</button>
    </div>
  </div>
</div>-->
<!--<div class="flex-container" fxLayout="row">
  <div class="modelling-area" style="width: 78.50vw; display: flex; flex-direction: row;">
  </div>
</div>-->
<<div style="display: flex; flex-direction: column">
  <div style="display: flex; flex-direction: row">
    <mat-form-field>
      <mat-select
        placeholder="Instantiation as"
        [(ngModel)]="selectedInstantiationType">
        <mat-option *ngFor="let instantiationType of getInstantiationTypes()" [value]="instantiationType">{{instantiationType}}</mat-option>

      </mat-select>
    </mat-form-field>

  </div>
  <!--<div style="display: flex; flex-direction: row">
    <div id="myDiagramDiv" style="flex-grow: 1; height: 700px; "></div>
  </div>-->
</div>












