<div class="palette-container">
  <div *ngFor="let element of elements" class="palette-item">

    <div class="dropdown" *ngIf="element.type === 'nonEvent'">
      <div class="section-title">
        Events
      </div>
      <br>
      <button class="dropbtn" (mouseover)="onHoverOverNonEvent()">
        {{ element.name }}
      </button>
      <div class="dropdown-content">
        <div class="dropdown-item" *ngIf="showStartNode" (click)="onOptionClick(element, 'startEvent')">
          <img src="assets/Simple_Start.png" alt="Start Event" />
        </div>
        <div class="dropdown-item" *ngIf="showEndNode" (click)="onOptionClick(element, 'endEvent')">
          <img src="assets/Simple_End.png" alt="Start Event" />
        </div>
      </div>
    </div>


    <div class="dropdown" *ngIf="element.type === 'task'">
      <div class="section-title">
        Activities
      </div>
      <br>
      <div class="activities-container">
        <button class="dropbtn-task" (mouseover)="onHoverOverTask()">
          {{ element.name }}
        </button>
        <div class="dropdown-content">
          <div class="task-item" *ngIf="showTaskOptions" (click)="onOptionClick(element, 'manualTask')">
            <img src="assets/Manual_Task.png" alt="Manual Task" />
          </div>
          <div class="task-item" *ngIf="showTaskOptions" (click)="onOptionClick(element, 'serviceTask')">
            <img src="assets/Service_Task.png" alt="Service Task" />
          </div>
        </div>
      </div>
    </div>
  </div>
<!--<div class="palette-container">
  <label for="language-select">Select Language:</label>
  <select id="language-select" (change)="onLanguageChange($event)">
    <option *ngFor="let language of languages" [value]="language">{{ language }}</option>
  </select>
  <br>
  <label for="view-select">Select View:</label>
  <select id="view-select" (change)="onViewChange($event)">
    <option *ngFor="let view of views" [value]="view">{{ view }}</option>
  </select>
  <div *ngIf="selectedView === 'Process Modeling View'">
    <app-palette-area-bpmn
      (addNode)="onAddNode($event)"
      (addEdge)="onAddEdge($event)"
       (connect)="onConnect($event)">
    </app-palette-area-bpmn>
  </div>
</div>-->


<!--<div>
  <label for="language">Select Modeling Language:</label>
  <select id="language" (change)="onLanguageChange($event)">
    <option *ngFor="let language of languages" [value]="language">{{ language }}</option>
  </select>
</div>
<div>
  <label for="view">Select View:</label>
  <select id="view" (change)="onViewChange($event)">
    <option *ngFor="let view of views" [value]="view">{{ view }}</option>
  </select>
</div>
<div *ngFor="let element of elements" (mouseover)="onHover(element)" (mouseleave)="onLeave()">
  <div class="palette-element"
       draggable="true"
       (dragstart)="onDragStart($event, element)">
    <div>{{element.name}}</div>
  </div>
  <div *ngIf="hoveredElement && hoveredElement.name === element.name" class="hover-options">
    <div *ngIf="element.type === 'event'" class="node-options">
      <div class="bar">Events</div>
      <div (click)="onOptionClick('start', element)" class="node-option start-node">Start Node</div>
      <div (click)="onOptionClick('end', element)" class="node-option end-node">End Node</div>
    </div>
    <div *ngIf="element.type === 'activity'" class="node-options">
      <div class="bar">Activities</div>
      <div (click)="onOptionClick('serviceTask', element)" class="node-option service-task">Service Task</div>
      <div (click)="onOptionClick('manualTask', element)" class="node-option manual-task">Manual Task</div>
    </div>
  </div>
</div>-->

<!--<div>
  <label for="language">Select Modeling Language:</label>
  <select id="language" (change)="onLanguageChange($event)">
    <option *ngFor="let language of languages" [value]="language">{{ language }}</option>
  </select>
</div>
<div>
  <label for="view">Select View:</label>
  <select id="view" (change)="onViewChange($event)">
    <option *ngFor="let view of views" [value]="view">{{ view }}</option>
  </select>
</div>
<div *ngFor="let element of elements" (mouseover)="onHover(element)" (mouseleave)="onLeave()">
  <div class="palette-element"
       draggable="true"
       (dragstart)="onDragStart($event, element)">
    <div>{{element.name}}</div>
  </div>
  <div *ngIf="hoveredElement && hoveredElement.name === element.name" class="hover-options">
    <div *ngIf="element.type === 'event'" class="node-options">
      <div (click)="onOptionClick('start', element)" class="node-option start-node">Start Node</div>
      <div (click)="onOptionClick('end', element)" class="node-option end-node">End Node</div>
    </div>
  </div>
</div>-->


<!--<div>
  <label for="language">Select Modeling Language:</label>
  <select id="language" (change)="onLanguageChange($event)">
    <option *ngFor="let language of languages" [value]="language">{{ language }}</option>
  </select>
</div>
<div>
  <label for="view">Select View:</label>
  <select id="view" (change)="onViewChange($event)">
    <option *ngFor="let view of views" [value]="view">{{ view }}</option>
  </select>
</div>
<div *ngFor="let element of elements" (mouseover)="onHover(element)" (mouseleave)="onLeave()">
  <div class="palette-element"
       draggable="true"
       (dragstart)="onDragStart($event, element)">
    <div>{{element.name}}</div>
  </div>
  <div *ngIf="hoveredElement && hoveredElement.name === element.name" class="hover-options">
    <div *ngIf="element.type === 'event'">
      <div (click)="onOptionClick('start', element)">Start Event</div>
      <div (click)="onOptionClick('end', element)">End Event</div>
    </div>
  </div>
</div>-->

<!---<div>
  <label for="language">Select Modeling Language:</label>
  <select id="language" (change)="onLanguageChange($event)">
    <option *ngFor="let language of languages" [value]="language">{{ language }}</option>
  </select>
</div>
<div>
  <label for="view">Select View:</label>
  <select id="view" (change)="onViewChange($event)">
    <option *ngFor="let view of views" [value]="view">{{ view }}</option>
  </select>
</div>
<div *ngFor="let element of elements" (mouseover)="onHover(element)" (mouseleave)="onLeave()">
  <div class="palette-element"
       draggable="true"
       (dragstart)="onDragStart($event, element)">
    <img *ngIf="element.imageUrl" [src]="element.imageUrl" alt="{{element.name}}" />
    <div *ngIf="!element.imageUrl">{{element.name}}</div>
  </div>
  <div *ngIf="hoveredElement && hoveredElement.name === element.name" class="hover-options">
    <div *ngIf="element.type === 'event'">
      <div (click)="onOptionClick('start', element)">Start Event</div>
      <div (click)="onOptionClick('end', element)">End Event</div>
    </div>
  </div>
</div>-->



<!--
  <app-sidebar></app-sidebar>
<ngx-reactflow
  [nodes]="nodes"
  [edges]="edges"
></ngx-reactflow>
<div>
  <label for="language">Select Modeling Language:</label>
  <select id="language" (change)="onLanguageChange($event)">
    <option *ngFor="let language of languages" [value]="language">{{ language }}</option>
  </select>
</div>
<div>
  <label for="view">Select View:</label>
  <select id="view" (change)="onViewChange($event)">
    <option *ngFor="let view of views" [value]="view">{{ view }}</option>
  </select>
</div>
<div *ngFor="let element of elements" (mouseover)="onHover(element)" (mouseleave)="onLeave()">
  <img *ngIf="element.imageUrl" [src]="element.imageUrl" alt="{{element.name}}" (click)="onElementClick(element)" />
  <div *ngIf="!element.imageUrl" (click)="onElementClick(element)">{{element.name}}</div>
  <div *ngIf="hoveredElement && hoveredElement.name === element.name" class="hover-options">
    <div (click)="onOptionClick('start')">Start Event</div>
    <div (click)="onOptionClick('end')">End Event</div>
  </div>
</div>
<div>
  <label for="language">Select Modeling Language:</label>
  <select id="language" (change)="onLanguageChange($event)">
    <option *ngFor="let language of languages" [value]="language">{{ language }}</option>
  </select>
</div>

<div>
  <label for="view">Select View:</label>
  <select id="view" (change)="onViewChange($event)">
    <option *ngFor="let view of views" [value]="view">{{ view }}</option>
  </select>
</div>

<div class="palette-area"
     (drop)="onDrop($event)"
     (dragover)="onDragOver($event)">

  <div *ngFor="let element of elements"
       class="palette-element"
       draggable="true"
       (dragstart)="onDragStart($event, element)"
       (mouseover)="onHover(element)"
       (mouseleave)="onLeave()">

    <img *ngIf="element.imageUrl" [src]="element.imageUrl" alt="{{element.name}}" />
    <div *ngIf="!element.imageUrl">{{element.name}}</div>


    <div *ngIf="hoveredElement && hoveredElement.name === element.name" class="hover-options">
      <div *ngIf="element.type === 'start'" (click)="onOptionClick('start')">Start Event</div>
      <div *ngIf="element.type === 'end'" (click)="onOptionClick('end')">End Event</div>
    </div>
  </div>
</div>-->
<!--
<div>
  <label for="language">Select Modeling Language:</label>
  <select id="language" (change)="onLanguageChange($event)">
    <option *ngFor="let language of languages" [value]="language">{{ language }}</option>
  </select>
</div>

<div>
  <label for="view">Select View:</label>
  <select id="view" (change)="onViewChange($event)">
    <option *ngFor="let view of views" [value]="view">{{ view }}</option>
  </select>
</div>

<div class="palette-area"
     (drop)="onDrop($event)"
     (dragover)="onDragOver($event)">

  <div *ngFor="let element of elements"
       class="palette-element"
       draggable="true"
       (dragstart)="onDragStart($event, element)"
       (mouseover)="onHover(element)"
       (mouseleave)="onLeave()">


    <img *ngIf="element.imageUrl" [src]="element.imageUrl" alt="{{element.name}}" />
    <div *ngIf="!element.imageUrl">{{element.name}}</div>

    <div *ngIf="hoveredElement && hoveredElement.name === element.name" class="hover-options">
      <div *ngIf="element.type === 'event' && element.name === 'start'" (click)="onOptionClick('start')">Start Event</div>
      <div *ngIf="element.type === 'event' && element.name === 'end'" (click)="onOptionClick('end')">End Event</div>
    </div>
  </div>

</div>
--->
