<div class="flex-container" fxLayout="row">
  <div class="modelling-area" style="width: 78.85vw;display: flex; flex-direction: row;">
    <!--<div id="myDiagramDiv" class="nodes-container" style="position: relative; flex-grow: 1;">
      <div *ngFor="let node of nodes" class="node"
           [style.left.px]="node.position.x"
           [style.top.px]="node.position.y">
        <div class="node-content">
          {{ node.data.label }}
        </div>
      </div>
    </div>-->
    <div style="flex-grow: 1; width: 78.85vw; height: 100vh; border: 0.25px solid black; box-sizing: border-box;">
      <ngx-reactflow
        [nodes]="nodes"
        [edges]="edges"
        (nodesChange)="onNodesChange($event)"
        (edgesChange)="onEdgesChange($event)"
        (connect)="onConnect($event)"
        (contextmenu)="onRightClick($event)"
        [fitView]="true"
        style="width: 100%; height: 100%;">
      </ngx-reactflow>
  </div>
</div>













